{% extends "base.html.twig" %}
{% block title %}Fiche Pret {{pret.instrument.intitule}}{% endblock %}
{% block contenu %}
<h3>Fiche pret {{pret.instrument.intitule}} ({{pret.instrument.typeInstrument.libelle}})<h3>
</br>
<h4>Accessoires fournis</h4>
<table class="table">
{% if pret.instrument.accessoire == null %}
    <td>Il n'y a pas d'accessoire avec cet instrument</td>
{% else %}
{% for a in pret.instrument.accessoire %}
		<tr>
			<td>{{ a.libelle }}</td>
		</tr>
	{% endfor %}
{% endif %}
</table>
</br>
<h4>Les Prêts</h4>
<table class="table">
		<tr><th>Eleve</th><th>Date du prêt</th><th>Date de rendu</th><th>Etat avant prêt</th><th>Etat après prêt</th><th>Quotite</th></tr>
        <tr>
			<td>
                <a href="{{ path('eleveConsulter', {id : pret.eleve.id})}}">{{ pret.eleve.nom|upper }} {{pret.eleve.prenom}}</a>
                </br>{{pret.eleve.numRue}} {{pret.eleve.rue}}
                </br>{{pret.eleve.codePostale}}{{pret.eleve.ville}}
            </td>
            <td>{{ pret.dateDebut|date("d-m-20y")}}</td>
            <td>{{ pret.dateFin|date("d-m-20y")}}</td>
            <td>{{ pret.etatDetailleDebut}}</td>
        {% if pret.etatDetailleRetour == "NULL" %}
            <td>{{ pret.etatDetailleRetour}}</td>
        {% else %}
            <td>L'instrument n'a pas encore été rendu.</td>
        {% endif %}
        {% for q in pret.interPrets %}
            <td>{{q.quotite}} %</td>
        {% else %}
            <td>100 %</td>
        {% endfor %}
		</tr>	
</table>
{% endblock %}