{% extends "base.html.twig" %}

{% block title %}Fiche de l'élève{% endblock %}

{% block style %}
.tabcours{
    text-align:center;
}  
br{
    margin-bottom: 7px;
}

.cours{
    border: solid 1px;
    margin-bottom : 10px;
    padding : 5px;
    border-radius:10px;
}
{% endblock %}

{% block contenu %}
    <h3>Page de l'eleve :</h3>
    <br />
	
  	<table class="table">
    <h3>Vos informations</h3>
{% if is_granted('IS_AUTHENTICATED_FULLY')%}
    {% if app.user.email == "admin@admin.com" or  app.user == eleve.emailU %}
	<a href="{{ path('eleveModifier', { 'id': eleve.id}) }}">Modifier </a>
{% endif %}
{% endif %}
    <tr>
    	<td>Nom : </td><td>{{eleve.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{eleve.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{eleve.numRue}} {{eleve.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{eleve.codePostale}} {{eleve.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{eleve.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{eleve.telephone}}</td></tr></tr>
    <tr>
    
    <tr>
    	<td>Responsable : </td><td><a href="{{ path('responsableConsulter', { 'id': eleve.responsable.id }) }}">{{eleve.responsable.nom}}</a></td></tr></tr>
    <tr>
    </table>


<br/>
<br/>


  <h3>LES COURS ET LES PAIEMENTS</h3>
		<table class="table">
        <thead>
            <tr>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
                <td>Dimanche</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for i in eleve.inscription %}
                        
                      <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">

                        {% if (i.cours.jour.libelle == 'Lundi')%}
                          <div class="cours">
                            <div class="tabcours">
                              Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                              Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                              De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                              Cours {{ i.cours.typeCours.libelle }} </br>
                            </div>
                            <b>Les paiements :</br></b>
                            <p STYLE="padding-left:20px;">
                              {% for p in i.paiement %}
                                {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                </br>
                                {% else %}
                                Aucun paiement pour ce cours
                              {% endfor %}
                            </p>
                          </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}

                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Mardi')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}

                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Mercredi')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}

                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Jeudi')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}

                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Vendredi')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}
                    
                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Samedi')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>

                <td>
                    {% for i in eleve.inscription %}

                    <a href="{{ path('coursConsulter', { 'id': i.cours.id }) }}">
                        
                        {% if (i.cours.jour.libelle == 'Dimanche')%}
                            <div class="cours">
                            <div class="tabcours">
                            Cours de <b>{{ i.cours.typeInstrument.libelle }}</b></br>
                                Avec {{ i.cours.professeur.nom }} {{ i.cours.professeur.prenom }}</br>
                                De <b>{{ i.cours.heureDebut|date("H:i") }} à {{ i.cours.heureFin|date("H:i") }}</b></br>
                                Cours {{ i.cours.typeCours.libelle }} </br>
                                </div>
                                <b>Les paiements :</br></b>
                                <p STYLE="padding-left:20px;">
                                  {% for p in i.paiement %}
                                    {{ p.montant}}€ le {{ p.datePaiement|date("d/m/Y") }}
                                    </br>
                                    {% else %}
                                    Aucun paiement pour ce cours
                                  {% endfor %}
                                </p>
                                </div>
                        {% endif %}
                    {% endfor %}
                  </a>
                </td>
            </tr>
            <tbody>
        </table>

  </table>

{% endblock %}