{% extends "base.html.twig" %}




{% block contenu %}
    <h3>Page de l'eleve :</h3>
    <br />
	
  	<table class="table">
    <h3>Vos informations</h3>

    <tr>
    	<td>Nom : </td><td>{{eleve.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{eleve.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{eleve.numRue}} {{eleve.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{eleve.codePostale}} {{eleve.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{eleve.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{eleve.telephone}}</td></tr></tr>
    <tr>
    
    <tr>
    	<td>Responsable : </td><td><a href="{{ path('responsableConsulter', { 'id': eleve.responsable.id }) }}">{{eleve.responsable.nom}}</a></td></tr></tr>
    <tr>
    </table>


<br/>
<br/>
  <table class="table">

  <h5>Liste de vos paiements :</h5>
	
		</br>
		<tr>
		<td>Date</td>
		<td>Montant</td>
		</tr>

		{% for e in inscription.paiement %}
		<tr>
			<td>{{ e.datePaiement|date("d/m/Y") }}</td>
			<td>{{ e.montant}}</td>
		</tr>
	{% else %}
		<tr>
		<td>Aucun etudiant n'a été trouvé.</td>
		
	{% endfor %}
		</tr>

  </table>

{% endblock %}