{% extends "base.html.twig" %}




{% block contenu %}
    <h3>Page de l'eleve :</h3>
    <br />
	
  	<table class="table">
    <h3>Vos informations</h3>

    <tr>
    	<td>Nom : </td><td>{{eleve.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{eleve.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{eleve.numRue}} {{eleve.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{eleve.codePostale}} {{eleve.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{eleve.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{eleve.telephone}}</td></tr></tr>
    <tr>
    
    <tr>
    	<td>Responsable : </td><td><a href="{{ path('responsableConsulter', { 'id': eleve.responsable.id }) }}">{{eleve.responsable.nom}}</a></td></tr></tr>
    <tr>
    </table>


<br/>
<br/>
  <table class="table">

  <h5>Liste de vos paiements :</h5>
	
		</br>
		<tr>
    <th>Cours</th>
		<th>Date de paiement</th>
		<th>Montant</th>
		</tr>

		{% for i in eleve.inscription %}
    <tr>
    <td><b>{{i.cours.typeInstrument.libelle}}</b> du {{i.cours.jour.libelle}} à {{i.cours.heureDebut|date("H:i")}}</td>
    
    {% for p in i.paiement %}
    
    <tr>
      <td>  </td>
			<td>{{ p.datePaiement|date("d/m/Y") }}</td>
      <td>{{ p.montant}}</td>
		</tr>

  {% else %}
		
    <tr>
      <td>  </td>
      <td>Aucun paiement pour ce cours</td>
		</tr>

	{% endfor %}
  </tr>
  {% endfor %}

  </table>

{% endblock %}