{% extends "base.html.twig" %}
{% block title %}Fiche de l'instrument {{instrument.intitule}}{% endblock %}
{% block contenu %}
<h3>Fiche {{instrument.intitule}} ({{instrument.typeInstrument.libelle}})</h3>
</br>

{% if is_granted('IS_AUTHENTICATED_FULLY')%}
    {% if app.user.email == "admin@admin.com"%}
	<a href="{{ path('instrumentModifier', { 'id': instrument.id}) }}">Modifier </a>
	{% endif %}
    {% endif %}
<table class="table">
    <tr>
    	<td>Date d'achat : </td><td>{{instrument.dateAchat|date('d/m/20y')}}</td>
    </tr>
    <tr>
    	<td>Prix d'achat : </td><td>{{instrument.prixAchat}} €</td>
    </tr>
    <tr>
    	<td>Marque : </td><td>{{instrument.marqueInstrument.libelle}}</td>
    </tr>
    <tr>
        <td>Modele : </td><td>{{instrument.modeleInstrument.libelle}}</td>
    </tr>
    <tr>
    	<td>Numéro de série : </td><td>{{instrument.numeroSerie}}</td>
    </tr>
    <tr>
    	<td>Couleur dominante : </td><td>{{instrument.couleur}}</td>
    </tr>
    <tr>
    	<td>Utilisation : </td>
        {% if instrument.Utilisation == null %}
        
        <td>Cet instrument n'est pas destiné a être prêté</td>
        
        {% else %}
        <td>{{instrument.Utilisation}} </br>
            <a href="{{ path('instruContratPretLister', { 'id': instrument.id }) }}">Voir la liste des prets</a> </br>
             <a href="{{ path('contratPretAjouter') }}">Ajouter un prêt</a> </br>
        
        {% endif %}

    </tr>


    <tr>
    	<td><strong>Classe de l'instrument :</strong> </td><td><a href="{{ path('classeInstrumentConsulter', { 'id': instrument.typeInstrument.classeInstrument.id }) }}">{{instrument.typeInstrument.classeInstrument.libelle}}</a></td>
    </tr>
</table>
</br>
<h4>Liste des interventions</h4>
<table class="table">

{% for c in instrument.contratPret %}
{% for i in c.interPrets %}
<tr><th>Date de début</th><th>Date de fin</th><th>Professionel</th><th>Travaux effectués</th><th>Prix</th></tr>
        <tr>
            <td>{{ i.intervention.dateDebut|date("d-m-20y")}}</td>
            <td>{{ i.intervention.dateFin|date("d-m-20y")}}</td>
            <td>{{ i.intervention.professionel.nom}} 
            </br>{{i.intervention.professionel.numRue}} {{i.intervention.professionel.rue}} 
            </br>{{i.intervention.professionel.codePostal}} {{i.intervention.professionel.ville}}</td>
            <td>{{i.intervention.descriptif}}</td>
            <td>{{i.intervention.prix}}€</td>

		</tr>

        {% else %}
    <p>il n'y a pas eu d'interventions</p>
        {% endfor %}
        {% endfor %}

	
</table>
{% endblock %}