{% extends "index.html.twig" %}

        {% block instrument %}
			<h3> Les instruments </h3>
			<table  class="table">
			<tr>
				<td>Nom</td>
				<td>Date d'achat</td>
				<td>Numéro de série</td>
				<td>Type d'instrument</td>
				<td>Marque</td>

			{% for i in pInstruments %}
			<tr>
				<td>{{ i.intitule}}</td>
				<td>{{ i.dateAchat|date('d/m/Y') }}</td>
				<td>{{ i.numeroserie }}</td>
				<td>{{ i.typeInstrument.libelle }}</td>
				<td>{{ i.marqueInstrument.libelle }}</td>
			</tr>

			{% endfor %}
			</table>
		{% endblock %}