{% extends "base.html.twig" %}
{% block title %}Fiche des contrats de {{instrument.intitule}} {% endblock %}
{% block contenu %}

<h3>Fiche des contrats de prêt de {{instrument.intitule}} ({{instrument.typeInstrument.libelle}})<h3>
</br>
<h4>Accessoires fournis</h4>
<table class="table">

{% for a in instrument.accessoire %}
		<tr>
			<td>{{ a.libelle }}</td>
		</tr>
        {% else %}
        <td>Il n'y a pas d'accessoire avec cet instrument</td>
	{% endfor %}
</table>
</br>


<h4>Les Prêts</h4>
<table class="table">
		<tr><th>Eleve</th><th>Date du prêt</th><th>Date de rendu</th><th>Etat avant prêt</th><th>Etat après prêt</th><th>Quotite</th></tr>
        {% for contrat in instrument.contratPret %}
        <tr>
			<td>
                <a href="{{ path('eleveConsulter', {id : contrat.eleve.id})}}">{{ contrat.eleve.nom|upper }} {{contrat.eleve.prenom}}</a>
                </br>{{contrat.eleve.numRue}} {{contrat.eleve.rue}}
                </br>{{contrat.eleve.codePostale}}{{contrat.eleve.ville}}
            </td>
            <td>{{ contrat.dateDebut|date("d-m-20y")}}</td>
            <td>{{ contrat.dateFin|date("d-m-20y")}}</td>
            <td>{{ contrat.etatDetailleDebut}}</td>
        {% if contrat.etatDetailleRetour == "NULL" %}
            <td>{{ contrat.etatDetailleRetour}}</td>
        {% else %}
            <td>L'instrument n'a pas encore été rendu.</td>
        {% endif %}
        {% for q in contrat.interPrets %}
            <td>{{q.quotite}} %</td>
        {% else %}
            <td>100 %</td>
        {% endfor %}
		</tr>
        {% else %}
        <td>Cet instrument n'a pas été prêté</td>
        {% endfor %}

</table>
{% endblock %}