<!DOCTYPE html>
<html>
    <head>
    <title>Fiche du responsable </title>    
    </head>
    <body>

    <h1>Page du responsable :</h1>
    </div><br />
	
  	<table>
    <h3>Vos informations</h3>

    <tr>
    	<td>Nom : </td><td>{{responsable.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{responsable.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{responsable.numRue}} {{responsable.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{responsable.codePostal}} {{responsable.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{responsable.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{responsable.telephone}}</td></tr></tr>
    <tr>
    
    <tr>
    	<td>tranche de paiement : </td><td>{{responsable.tranche.quotientmin}} / {{responsable.tranche.quotientmax}}</td></tr></tr>
    <tr>
    






    </body>
</html>