<!DOCTYPE html>
<html>
    <head>
    <title>Fiche du responsable </title>    
    </head>
    <body>

    <h3>Page du responsable :</h3>
    </div>
	
  	<table>

    <tr>
    	<td>Nom : </td><td>{{responsable.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{responsable.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{responsable.numRue}}</td><td>{{responsable.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{responsable.codePostal}}</td><td>{{responsable.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{responsable.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{responsable.telephone}}</td></tr></tr>
    <tr>

    </body>
</html>