<!DOCTYPE html>
<html>
    <head>
    <title>Fiche du responsable </title>    
    </head>
    <body>

    <h1>Page du responsable :</h1>
    </div><br />
	
  	<table>
    <h3>Vos informations</h3>

    <tr>
    	<td>Nom : </td><td>{{responsable.nom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Prénom : </td><td>{{responsable.prenom}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Rue : </td><td>{{responsable.numRue}} {{responsable.rue}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Ville : </td><td>{{responsable.codePostal}} {{responsable.ville}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Adresse mail : </td><td>{{responsable.email}}</td></tr></tr>
    <tr>

    <tr>
    	<td>Numéro de téléphone : </td><td>{{responsable.telephone}}</td></tr></tr>
    <tr>
    
    <tr>
    	<td>Quotient familial : </td><td>de {{responsable.tranche.quotientmin}} à {{responsable.tranche.quotientmax}}</td></tr></tr>
    <tr>
    </table>

<br/>
<br/>
    <table>
        <h5>Liste des élèves sous votre responsabilité :</h5>
	
		</br>
		<tr>
		<td>Nom</td>
		<td>Prénom</td>
		<td>Rue</td>
		<td>Ville</td>
		</tr>

		{% for e in responsable.eleve %}
		<tr>
			<td><a class="text-decoration-none" href="">{{ e.nom }}</a></td>
			<td>{{ e.prenom }}</a></td>
			<td>{{ e.numRue}} {{e.rue}}</td>
			<td>{{ e.ville}}</td>
		</tr>
	{% else %}
		<tr>
		<td>Aucun etudiant n'a été trouvé.</td>
		
	{% endfor %}
		</tr>
	</table>

<br/>
<br/>
    <table>
        <h5>Liste de vos paiements :</h5>
	
		</br>
		<tr>
		<td>Date</td>
		<td>Montant</td>
		<td>Rue</td>
		<td>Ville</td>
		</tr>

		{% for e in responsable.eleve %}
		<tr>
			<td><a class="text-decoration-none" href="">{{ e.nom }}</a></td>
			<td>{{ e.prenom }}</a></td>
			<td>{{ e.numRue}} {{e.rue}}</td>
			<td>{{ e.ville}}</td>
		</tr>
	{% else %}
		<tr>
		<td>Aucun etudiant n'a été trouvé.</td>
		
	{% endfor %}
		</tr>
	</table>


    </body>
</html>