{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block title %}Accueil{% endblock %}

{% block style %}
        
{% endblock %}

{% block contenu %}


<h3>LISTE DES COURS DISPONIBLES</h3>
<a href="{{path('coursAjouter')}}"><button class="btn btn-outline-primary btn-fw">Ajouter un cours</button></a>
		<table class="table">
        <thead>
            <tr>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
                <td>Dimanche</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for c in pCours %}

                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Lundi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }}  place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Mardi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Mercredi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Jeudi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Vendredi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Samedi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Dimanche')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() < c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                {{ c.nbPlaces - c.inscriptions.count() }} place(s) disponible(s)</br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() == 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                1 place disponible</br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>
            </tr>
            <tbody>
        </table>

        <h3>LISTE DES COURS COMPLETS</h3>
		<table class ="table">
        <thead>
            <tr>
                <td>Lundi</td>
                <td>Mardi</td>
                <td>Mercredi</td>
                <td>Jeudi</td>
                <td>Vendredi</td>
                <td>Samedi</td>
                <td>Dimanche</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Lundi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}
                        
                        <a href="{{ path('coursConsulter', { 'id': c.id }) }}">

                        {% if (c.jour.libelle == 'Mardi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Mercredi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Jeudi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Vendredi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Samedi')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>

                <td>
                    {% for c in pCours %}

                    <a href="{{ path('coursConsulter', { 'id': c.id }) }}">
                        
                        {% if (c.jour.libelle == 'Dimanche')%}
                            {% if (c.typeCours.libelle == 'Collectif' and c.inscriptions.count() >= c.nbPlaces)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                            {% if (c.typeCours.libelle == 'Individuel' and c.inscriptions.count() > 0)%}
                                Cours de {{ c.typeInstrument.libelle }}</br>
                                Avec {{ c.professeur.nom }} {{ c.professeur.prenom }}</br>
                                De {{ c.heureDebut|date("H:i") }} à {{ c.heureFin|date("H:i") }}</br>
                                Cours {{ c.typeCours.libelle }} </br>
                                <hr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
                </td>
            </tr>
            <tbody>
        </table>


<h3> Les instruments </h3>
<a href="{{path('instrumentAjouter')}}"><button class="btn btn-outline-primary btn-fw">Ajouter un instrument</button></a>
			<table  class="table">
			<tr>
				<th>Nom</th>
                </tr>

			{% for i in pClasseInstru %}
			<tr>
				<td><a href="{{ path('classeInstrumentConsulter', { 'id': i.id }) }}">{{ i.libelle}}</a></td>
			</tr>

			{% endfor %}
			</table>


{% endblock %}